extends layout/h5.jade

block vars
  - var page = {}
  - page.title    = 'test'
  - page.desc     = 'test'
  - page.keywords = 'test'
  - page.author   = '吴建涛(fortomorrow@163.com)'
  - page.name     = 'test'

block main
  #main.main This is main block

  script(src='vendor/zepto.min.js')
