<%
  var page = {
    title    : '$pageName$',
    desc     : '$description$',
    keywords : '',
    name     : '$pageName$',
    author   : '$author$'
  }
%>

<% include layout/h5-header.ejs %>

  <div id="main" class="main">
  </div>

<% include layout/footer.ejs %>
