<%
  var page = {
    title    : '$pageName$',
    desc     : '',
    keywords : '',
    name     : '$pageName$'
  }
%>

<% include layout/pc-header.ejs %>

  <div id="main" class="main">
  </div>

<% include layout/footer.ejs %>
