/**
 * @module <$=pageName$>
 * @author <$=author$>
 * @date <$=date$>
 * */

@import 'compass-mixin/lib/compass';
@import 'compass-mixins/lib/compass/reset';

$input-placeholder-color: #aaa;

//REF: https://github.com/AlloyTeam/Mars/blob/master/solutions/font-family.md
//Only for mobile devices
body {
  // 禁止选中文字
  @include user-select(none);
  // 移除IOS上用户点击时的半透明遮罩，可以去掉闪烁
  -webkit-tap-highlight-color: transparent;
  // 禁用长按触发系统菜单
  -webkit-touch-callout: none;
  // 启动滚动回弹
  -webkit-overflow-scrolling: touch;
  // for mobile
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  // for pc or mac
  // font-family: "Microsoft YaHei", "SimSun", "Hiragino Sans GB", "WenQuanYi Microhei";
  margin: 0;
  padding: 0;
}

a {
  &,
  &:hover {
    text-decoration: none;
  }
}

//设置placeholder的颜色，样式
//input {
  //&::-webkit-input-placeholder,
  //&:focus::-webkit-input-placeholder {
    //color: $input-placeholder-color;
  //}
//}

//去除input[type=number]的调节数字的小尾巴
//input[type=number] {
//  &::-webkit-inner-spin-button,
//  &::-webkit-outer-spin-button {
//    -webkit-appearance: none;
//    appearance: none;
//    margin: 0;
//  }
//}
