<%
var page = {
  title  : '<$=pageName$>',
  desc   : '<$=pageName$>',
  author : '<$=author$>'
};
%>
<% include layout/pc-head.ejs %>

<link rel="stylesheet" href="<$=pageName$>/index.css">

<div class="content">
  This is index.
  <div id="example"></div>
</div>

<script src="vendor/zepto.min.js"></script>
<script src="commons.<%=ts%>.js"></script>
<script src="<$=pageName$>/index.js"></script>

<% include layout/footer.ejs %>
