extends layout/pc.jade

block vars
  - var page = {}
  - page.title    = '<$=pageName$>'
  - page.desc     = '<$=pageName$>'
  - page.keywords = '<$=pageName$>'
  - page.author   = '<$=author$>'
  - page.name     = '<$=pageName$>'

block main
  #main.main This is main block
