extends layout/pc.jade

block vars
  - var page = {}
  - page.title    = 'index'
  - page.desc     = 'index page'
  - page.keywords = ''
  - page.author   = '吴建涛<fortomorrow@163.com>'
  - page.name     = 'index'

block main
  #main.main Long Long
