extends layout/h5.jade

block vars
  - var page = {}
  - page.title    = 'page'
  - page.desc     = 'page'
  - page.keywords = ''
  - page.author   = '吴建涛<fortomorrow@163.com>'
  - page.name     = 'page'

block main
  #main.main 测试页面
