<%
if(page.title    === undefined)page.title = 'title';
if(page.desc     === undefined)page.desc = '';
if(page.author   === undefined)page.author = '吴建涛';
if(page.keywords === undefined)page.keywords = '';
%>
<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title><%=page.title%></title>
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection"content="telephone=no, email=no" />
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">
    <%if(page.desc){%>
    <meta name="description" content="<%=page.desc%>">
    <%}%>
    <%if(page.keywords){%>
    <meta name="keywords" content="<%=page.keywords%>">
    <%}%>
    <%if(page.author){%>
    <meta name="author" content="<%=page.author%>">
    <%}%>
    <script>
! function() { function a() { document.documentElement.style.fontSize = document.documentElement.clientWidth / 16 + "px" } var b = null; window.addEventListener("resize", function() { clearTimeout(b), b = setTimeout(a, 300) }, !1), a() }(window);
    </script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?26bf526b3b071b6966fd3942e738c119";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </head>
  <body>


